h1{

    font-size: 44px;
 }

 .text {

   background-image: url(opis.JPG);
   width: 75vmin;
   /*background-color: powderblue;*/
   height: 35vmin;
   /*Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
     /*   margin-left: 12vmin;
        margin-bottom: 2vmin;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    
 }


 .text2 {

   font-size: 4vmin;
   max-width: 240vmin;
   margin-left: 20px;
   text-size-adjust: auto;
   text-align: justify;
   margin-right: 20px;

   
}
.meni-bez-crte{

    text-decoration: none;
   color: black;
   font-size:3vmin;
   padding-right: 1vmin;
   text-size-adjust: auto;
   margin-left: 2vmin;

}

.zaglavlje
{
   background-image: url(naslovna1.jpg);
  
   width: 90%;
  /* background-color: powderblue;*/ 
   height: 50vmin;
   /*Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 6vmin;
}
.centar-text{

    margin-top: 10vmin;
    text-align: center; 
    margin-bottom: 2vmin;
    
}
.naslovna{
font-size:10vmin;
margin-bottom: 4vmin;

}
#Naslovnica{
color:gray;
font-size:35px;
margin-top: 14%;
margin-left: 14%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  

  font-weight: bold;

}

#Opis
{
   font-weight: bold;
   margin-top: 2%;
   margin-left:4vmin;
  
  

}

#Slike
{
   font-weight: bold;
   margin-top: 4vmin;
   margin-left:4vmin;
}

#Slike2
{
   font-weight: bold;
   margin-top: 4vmin;
   font-size:20px;
   margin-left:4vmin;
}

#Kontakt
{
   font-weight: bold;
   margin-top: 8%;
   margin-left:4vmin;
}

#Novigrad
{
   font-weight: bold;
   margin-top: 8%;
   margin-left:4vmin;
}
.slika-link{

   display: inline-block;
   padding-left: 4vmin;
   padding-top: 4vmin;
}


.text-slike {


   width: 70vmin;
  /* background-color: powderblue;*/
   height: 50vmin;
   /*Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 10vmin;
        margin-bottom: 10vmin;
        

        display: inline-flex;
       /* margin-left: auto;
        margin-right: auto;
        width: 50%;*/
  
    
 }
